# Global gitignore #
####################

# OSX #
#######
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Secret Files #
################
Secrets
*.secret
*.secrets

# Temp #
########
*.ref
Temp/
temp/
tmp/
*.tmp
*.temp

# Editor Specific #
##################
.vscode/

# Project Specific #
####################
